<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{editLoginUserInfo}"></title>	
</head>
<body>	
	<div layout:fragment="content">	
		
		<form method="post" th:action="@{/editLoginUserInfo}" th:object="${editLoginUserInfoForm}">
			
			<div class="text-center">
				<h3 th:text="#{editLoginUserInfo}"></h3>
			</div>
			
			<div class="editLoginUserInfo">
			<table class="table text-center mt-3">

				<tr>
					<td th:text="#{name}"></td>
					<td><input type="text" th:field="*{name}"class="form-control w-75"><div th:errors="*{name}" class="text-danger"></div></td>
				</tr>

				<tr>
					<td th:text="#{email}"></td>
					<td><input type="text" th:field="*{email}"class="form-control w-75"><div th:errors="*{email}" class="text-danger"></div></td>
				</tr>
				
				<tr>
					<td><samp th:text="#{email}"></samp><p th:text="#{forCheck}"></p></td>
					<td><input type="text" th:field="*{confirmEmail}"class="form-control w-75"><div th:errors="*{confirmEmail}" class="text-danger"></div></td>
				</tr>

				<tr>
					<td th:text="#{password}"></td>
					<td><input type="password" th:field="*{password}"class="form-control w-75"><div th:errors="*{password}" class="text-danger"></div></td>	
				</tr>
			
				<tr>
					<td><samp th:text="#{password}"></samp><p th:text="#{forCheck}"></p></td>
					<td><input type="password" th:field="*{confirmPassword}"class="form-control w-75"><div th:errors="*{confirmPassword}" class="text-danger"></div></td>
				</tr>

			</table>
			</div>
			<div class="text-center">
				<input type="submit" value="変更" class="btn btn-primary">
				<a class="btn btn-primary" th:href="@{/myPage}">マイページに戻る</a>
			</div>

		</form>
		
	</div>
</body>
</html>