<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{topPage}"></title>
</head>
<body>
	
	<div layout:fragment="content">
		
		<div class="top-page">
			<img class="top-page-image" src="/images/sports_soccer_man_white.png" alt="選手1">
			<img class="top-page-image" src="/images/fabric_mark_clover4.png" alt="ロゴ2">			
		</div>
		
	</div>
</body>
</html>
