<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title th:text="#{cartsEdit}"></title>
</head>

<body>

	<div layout:fragment="content">

		<div class="items-detail">
			<div class="items-detail-inside">

				<form method="post" th:action="@{/cartsEdit}" th:object="${cartsForm}">
					<img th:src="@{'/images/' + ${item.image}}" th:alt="${item.image}" class="item-detail-image">
					<p class="item-name" th:text="${'グッズ名：  ' + item.itemName}"></p>
					<p class="item-price" th:text="${'単価:  ' + item.price + '円'}"></p>

					<div class="d-flex align-items-start gap-3 w-100">
						<div th:if="${item.sizeCategory == 0}">
							<a><select th:field="*{size}" class="form-control"
									style="width: 290px; margin-right: 10px;">
									<option value="" selected>サイズを選択して下さい。</option>
									<option th:value="S">S</option>
									<option th:value="M">M</option>
									<option th:value="L">L</option>
								</select></a>
							<div th:errors="*{size}" class="text-danger"></div>
						</div>

						<div th:if="${item.sizeCategory == 1}">
							<a><select th:field="*{size}" class="form-control"
									style="width: 290px; margin-right: 10px;">
									<option value="" selected>サイズを選択して下さい。</option>
									<option th:value="F">F</option>
								</select></a>
							<div th:errors="*{size}" class="text-danger"></div>
						</div>

						<div class="input-group" style="width: 280px;"> <!-- ******ポイント******** -->
							<input type="text" th:field="*{num}" class="form-control" placeholder="数量をで入力してください。">
							<span class="input-group-text">個</span>
							<div th:errors="*{num}" class="text-danger"></div>
						</div>
					</div>
					<input type="submit" value="変更する" class="btn btn-primary">　<a class="btn btn-primary" th:href="@{/basket}">戻る</a>
					<input type="hidden" name="itemId" th:value="${item.id}">
					<input type="hidden" th:field="*{id}">

			</div>
		</div>
	</div>

	</div>

</body>

</html>