<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{teamNewsMain}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="teamNews">
		<h2 th:text="#{teamNewsMain}"></h2><div th:text="${unexsist}" class="text-danger"></div>
	
		<table class="teamNews-color table text-center mt-3 w-75 mx-auto">
			
			<tbody>
				<tr th:each="teamNews : ${teamNewsList}" th:onclick="'location.href=\'/teamNews/' + ${teamNews.id} + '\';'" style="cursor: pointer;">
					<td th:text="${#dates.format(teamNews.postingDate, 'yyyy年MM月dd日')}"></td>
					<td th:text="${teamNews.title}"></td>
				</tr>
			</tbody>
		</table>
	
		<div class="pagination">
			<ul class="pagination justify-content-center">
				<!-- 前へ -->
				<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
					<a class="page-link" th:href="@{'/teamNews?page=' + ${currentPage - 1}}" tabindex="-1">前へ</a>
				</li>

				<!-- ページ番号 -->
				<li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"	th:classappend="${i == currentPage} ? 'active' : ''">
					
					<!-- 現在ページなら span にしてリンクを無効化にする(spanはそのページを押せない) -->
					<span class="page-link" th:if="${i == currentPage}" th:text="${i}"></span>
					<!-- その他のページはリンク(aはそのページを押せる) -->
					<a class="page-link" th:if="${i != currentPage}" th:href="@{'/teamNews?page=' + ${i}}">[[${i}]]</a>
				</li>

				<!-- 次へ -->
				<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled' : ''">
					<a class="page-link" th:href="@{'/teamNews?page=' + ${currentPage + 1}}">次へ</a>
				</li>
			</ul>
		</div>
		
		
	</div>
	</div>
</body>
</html>