<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="katachi.spring.exercise.repository.OrderDetailsMapper">

	<insert id="entry" parameterType="java.util.List">
		INSERT INTO order_details (order_id, item_id, num, size)
		VALUES
		<foreach collection="list" 	item="detail" separator=",">
			(#{detail.orderId}, #{detail.itemId}, #{detail.num}, #{detail.size})
		</foreach>
	</insert>

</mapper>